art==5.2
seqlog==0.3.20
tabulate==0.8.9
coloredlogs==15.0
pika==1.2.0
Click==8.0.1
requests==2.25.1
netaddr==0.8.0
netifaces==0.11.0
RPi.GPIO==0.7.0
adafruit-blinka==6.10.0
adafruit-circuitpython-busdevice==5.0.6
adafruit-circuitpython-mcp230xx==2.4.6
Adafruit-PlatformDetect==3.27.1
Adafruit-PureIO==1.1.8
